<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="{{ refresh_every_x_seconds }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/default.css') }}" />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <div class="last-updated">Last Updated: 
      <span class="last-updated-value">{{ data.last_updated }}</span>
    </div>
    <h2>Minecraft Servers</h2>
    <table class="services">
      <thead>
        <tr>
          <th class="name-header">Name</th>
          <th class="address-header">Address</th>
          <th class="version-header">Version</th>
          <th class="players-header">Players</th>
          <th class="status-header">Status</th>
        <tr>
      </thead>
      <tbody>
        {% for mc_server in data.service_groups[MCServer].services %}
        <tr>   
          <td class="name">{{ mc_server.name }}</td>
          <td class="address">{{ mc_server.address }}:{{ mc_server.port }}</td> 
          <td class="version">{{ mc_server.software.brand }} {{ mc_server.software.version }}</td>
          <td class="hoverable players">{{ mc_server.players.online }} / {{ mc_server.players.max }} *
            {% if mc_server.players.online > 0 %}
            <ul class="dropdown player-list">
            {% for player_name in mc_server.players.names %}
              <li>{{ player_name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          </td>
          <td class="hoverable status status-{{ mc_server.status.value }}">
            {% if mc_server.message is none %}
            <p class="dropdown message message-{{ mc_server.status.value }}"></p>
            {% else %}
            <p class="dropdown message">{{ mc_server.message }}</p>
            {% endif %}
          </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="player-count-note">* = This player count includes vanished staff members. Do not bother them in-game or you may be given a warning.</div>
    <h2>Mumble Servers</h2>
    <table class="services">
      <thead>
        <tr>
          <th class="name-header">Name</th>
          <th class="address-header">Address</th>
          <th class="version-header">Version</th>
          <th class="players-header">Players</th>
          <th class="status-header">Status</th>
        <tr>
      </thead>
      <tbody>
        {% for mumble_server in data.service_groups[MumbleServer].services %}
        <tr>
          <td class="name">{{ mumble_server.name }}</td>
          <td class="address">{{ mumble_server.address }}:{{ mumble_server.port }}</td>
          <td class="version">{{ mumble_server.version }}</td>
          <td class="hoverable players">{{ mumble_server.players.online }} / {{ mumble_server.players.max }}
            {% if mumble_server.players.online > 0 %}
            <ul class="dropdown player-list">
            {% for player_name in mumble_server.players.names %}
              <li>{{ player_name }}</li>
            {% endfor %}
            </ul>
            {% endif %}
          </td>
          <td class="hoverable status status-{{ mumble_server.status.value }}">
          {% if mumble_server.message is none %}
          <p class="dropdown message message-{{ mumble_server.status.value }}"></p>
          {% else %}
          <p class="dropdown message">{{ mumble_server.message }}</p>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Web Services</h2>
    <table class="services">
      <thead>
        <tr>
          <th class="name-header">Name</th>
          <th class="address-header">Address</th>
          <th class="response-header">Response</th>
          <th class="code-header">Code</th>
          <th class="status-header">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for web_service in data.service_groups[WebService].services %}
        <tr>
          <td class="name">{{ web_service.name }}</td>
          <td class="address"><a href="{{ web_service.address }}">{{ web_service.address }}</a></td>
          <td class="response">{{ web_service.response }}</td>
          <td class="code">{{ web_service.status_code }}</td>
          <td class="hoverable status status-{{ web_service.status.value }}">
          {% if web_service.message is none %}
          <p class="dropdown message message-{{ web_service.status.value }}"></p>
          {% else %}
          <p class="dropdown message">{{ web_service.message }}</p>
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Third-Party Services</h2>
    <table class="services">
      <thead>
        <tr>
          <th class="name-header">Name</th>
          <th class="address-header">Address</th>
          <th class="link-header">Link to Status Page</th>
        </tr>
      </thead>
      <tbody>
        {% for third_party_service in data.service_groups[ThirdPartyService].services %}
        <tr>
          {% if third_party_service.address is none %}
          <td class="name">{{ third_party_service.name }}</td>
          <td class="address">N/A</td>
          {% else %}
          <td class="name">{{ third_party_service.name }}</td>      
          <td class="address"><a href="{{ third_party_service.address }}">{{ third_party_service.address }}</a></td>
          {% endif %}
          <td class="link"><a href="{{ third_party_service.status_address }}">{{ third_party_service.status_address }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="footer">Created by <a href="https://github.com/Frumple">Frumple</a>. This status page is an open-source web application available on <a href="https://github.com/Frumple/mrt-status-page">GitHub</a> under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</div>
  </body>
</html>